.repl {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 0.45em;
  overflow: hidden;
}

.repl .iframe-container,
.repl textarea {
  flex: 1 0 50%;
  font-family: 'Courier New', Sans-Serif;
  font-size: 16px;
}

.repl .iframe-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.repl .iframe-container {
  background: #f1f1f1;
  border-radius: 0.25em 0.25em 0 0;
  width: 50%;
}

.repl iframe {
  border: 0;
  flex: 1;
}

.repl textarea {
  border-radius: 0 0 0.25em 0.25em;
  border: 0;
  width: 50%;
  padding: 1em;
}

.repl.vertical {
  flex-direction: column;
}

.repl.vertical .iframe-container,
.repl.vertical textarea {
  width: 100%;
  min-height: 4em;
}
