.repl {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 0.45em;
  overflow: hidden;
}

.repl .iframe-container,
.repl textarea {
  flex: 1 0 50%;
  font-family: 'Courier New', Sans-Serif;
  font-size: 16px;
}

.repl .iframe-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.repl .iframe-container {
  background: #f1f1f1;
  border-radius: 0.25em 0.25em 0 0;
  width: 50%;
}

.repl iframe {
  border: 0;
  flex: 1;
}

.repl textarea {
  background: #333;
  background: rgba(0,0,0,0.35);
  color: #e8e5d8;
  border-radius: 0 0 0.25em 0.25em;
  border: 0;
  width: 50%;
  padding: 1em;
}

.repl textarea:focus {
  color: #fff;
}

.repl.vertical {
  flex-direction: column;
}

.repl.vertical .iframe-container,
.repl.vertical textarea {
  width: 100%;
  min-height: 4em;
}


.hint {
  background: rgb(244, 238, 180);
  color: rgba(0,0,0,0.65);
  padding: 0.45em 1.45em;
  padding-top: 1.15em;
  border-radius: 0.3em;
  margin-top: 0.75em;
}

.hint h6 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
}